{#
* Plugin Name : PointExpired
*
* Copyright (C) BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

{% extends '@admin/default_frame.twig' %}

{% block title %}{{ 'pointexpired.admin.config.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'pointexpired.admin.config.subtitle'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block javascript %}
<script>
var setModeAndSubmit = function(mode, keyname, keyid) {
    document.form1.mode.value = mode;
    if(keyname !== undefined && keyname !== "" && keyid !== undefined && keyid !== "") {
        document.form1[keyname].value = keyid;
    }
    document.form1.submit();
};
</script>
{% endblock javascript %}

{% block main %}
    <form role="form" name="form1" id="form1" method="post" action="" novalidate enctype="multipart/form-data">
        {{ form_widget(form._token) }}
        <input type="hidden" name="mode" value="regist">
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body">
                            <div class="row">
                                {{ form_label(form.period) }}
                                <div class="col mb-2">
                                    {{ form_widget(form.period) }}
                                    {{ form_errors(form.period) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-3">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-beseLink" href="{{ url('admin_store_plugin') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i><span>{{ 'admin.store.plugin_owners_install.855'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-regular" onClick="setModeAndSubmit('assign','','');"
                                        type="button">{{ 'pointexpired.admin.setting.rank.label.assign'|trans }}</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-regular" onClick="setModeAndSubmit('assign_date','','');"
                                        type="button">{{ 'pointexpired.admin.setting.rank.label.assign_date'|trans }}</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
