{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{#<div class="ec-categoryRole">#}
{#    <div class="ec-role">#}
{#        <div class="ec-secHeading">#}
{#            <span class="ec-secHeading__en">{{ 'CATEGORY'|trans }}</span>#}
{#            <span class="ec-secHeading__line"></span>#}
{#            <span class="ec-secHeading__ja">{{ 'カテゴリ'|trans }}</span>#}
{#        </div>#}
{#        <div class="ec-categoryRole__list">#}
{#            <div class="ec-categoryRole__listItem">#}
{#                <a href="{{ url('product_list') }}?category_id=2">#}
{#                    <img src="{{ asset('assets/img/top/fpo_355x150.png') }}">#}
{#                </a>#}
{#            </div>#}
{#            <div class="ec-categoryRole__listItem">#}
{#                <a href="{{ url('product_list') }}?category_id=1">#}
{#                    <img src="{{ asset('assets/img/top/fpo_355x150.png') }}">#}
{#                </a>#}
{#            </div>#}
{#            <div class="ec-categoryRole__listItem">#}
{#                <a href="{{ url('product_list') }}?category_id=5">#}
{#                    <img src="{{ asset('assets/img/top/fpo_355x150.png') }}">#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="ec-category">
    <div class="home-title"><h2>お料理ジャンルで探す</h2></div>
    <div class="category-list">
        <div class="category-item">
            <a href="##">
                <p>スペイン料理</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>イタリアン料理</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>カレー</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>和食料理</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>ビーガン料理</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>鍋料理</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>中華料理</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>らーめん</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
         <div class="category-item">
            <a href="##">
                <p>BBQ</p>
                <img src="./html/user_data/assets/img/home/banner04.jpg">
            </a>
        </div>
    </div>
</div>